<form action="initDB" method="POST" role="form">
    <legend>Initialise the database</legend>

    <div class="form-group">
        <label for="sql">Query</label>
        <input type="text" class="form-control" id="sql" name="sql" placeholder="SQL Query">
    </div>

    <button type="submit" class="btn btn-block btn-primary">Submit</button>
</form>

{{#if result}}
<div class="well">
    <ul>
        {{#each result}}
        <li>
            {{id}} {{mission}} {{tablename}}
        </li>
        {{/each}}
    </ul>
</div>
{{/if}}
<hr>

{{#if get}}
<div class="well">
    Did a get
</div>
{{/if}}