<form action="/addUser" method="POST" role="form">
    <legend>Form title</legend>

    <div class="form-group">
        <label for="userName">User Name</label>
        <input type="text" class="form-control" id="userName" name="userName" placeholder="UserName" value="{{userName}}">
    </div>
    


    <button type="submit" class="btn btn-primary">Submit</button>
</form>