<div class="container">
    {{#with movie}}
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <img src="{{image}}" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " alt="">
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <div class="row" style="margin-top: 20px">
                        <h2 style="margin: 0;" class="col-xs-10 col-sm-10 col-md-10 col-lg-10"> {{title}} </h2>
                        <p style="padding:9px 28px;" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> A growing nation of genetically evolved apes led by Caesar is threatened by a band of human survivors
                            of the devastating virus unleashed a decade earlier. They reach a fragile peace, but it proves
                            short-lived, as both sides are brought to the brink of a war that will determine who will emerge
                            as Earth's dominant species.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/with}}
</div>