

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <a class="navbar-brand" href="#">Title</a>
    <ul class="nav navbar-nav">
        <li class="active">
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">Link</a>
        </li>
    </ul>
</nav>

<div class="page-header">
  <h1>Todos<small>page</small></h1>
</div>

<hr>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Mission</th>
        </tr>
    </thead>
    <tbody>
        {{#each todos}}
        <tr>
            <td>{{id}}</td>
            <td>{{mission}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
