

<div class="page-header">
  <h1>Todos<small>page</small></h1>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Mission</th>
        </tr>
    </thead>
    <tbody>
        {{#each todos}}
        <tr>
            <td>{{id}}</td>
            <td>{{mission}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
